.idea
__pycache__/
d2_input.txt
d2_sample.txt
d1_input.txt
d1_sample.txt
d3_input.txt
d3_sample.txt
d4_input.txt
d4_sample.txt
d5_input.txt
d5_sample.txt
d6_input.txt
d6_sample.txt
d7_input.txt
d7_sample.txt
d8_input.txt
d8_sample.txt
d9_input.txt
d9_sample.txt
d10_input.txt
d10_sample.txt
d11_input.txt
d11_sample.txt